$white-color: #FFFFFF;
$gray-color: #E7E7E7;
$light-gray-color: #9D9B9B;
$dark-orange-color: #D18513;
$orange-color: #EC9A1E;
$brown-color: #BF9351;
$off-white-color: #E9E9E9;
$blue-color: #47535F;
$red-color: #ED743D;
$black-color: #000000;
